    body {
        background-color: rgb(15, 15, 15);
        color: rgb(255, 255, 255);
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;
        text-align: center;
        padding: 0px;
        margin: 0;
        overflow: wrap;
    }
    .container {
        max-width: 70%;
        text-align: justify;
        padding: 0px;
    }
    p {
        line-height: 1.2;
    }
    h2 {
        text-align: center;
        font-family: 'Russo One', sans-serif;
        color: #3cd217;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    h3 {
        font-family: 'Russo One', sans-serif;
        font-size: 50px;
        text-align: center;
        color: rgb(60, 210, 23);
        text-transform: uppercase;
    }

    .back-button {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px 20px;
        background-color: #3cd217;
        border-radius: 5px;
        font-family: 'Russo One', sans-serif;           
        text-decoration: none;
        color: #252525;
    }