* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: #121212;
    font-family: 'Press Start 2P', cursive, sans-serif;
    user-select: none;
}

.popup {
    font-family: 'Russo One', sans-serif;
    z-index: 9999;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0b690ebf;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: slideDownFadeInOut 7s forwards;
    display: none;
    max-width: 400px;
    text-align: center;
    overflow-y: auto;
    max-height: 200px;
}

@keyframes slideDownFadeInOut {
    0% {
        top: -100px;
        opacity: 0;
    }
    20% {
        top: 20px;
        opacity: 1;
    }
    80% {
        top: 20px;
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}

.playerscreen0 {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 75%;
    border: #02cc0d 2px solid;
    opacity: 0%;
    display: active;
}

.playerscreen1 {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    height: 42%;
    border: #cc1602 2px solid;
    opacity: 0%;
    display: active;
}

.playerscreen2 {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 50%;
    top: 20%;
    width: 23%;
    height: 100%;
    border: #02cc0d 2px solid;
    opacity: 0%;
    display: active;
}

.playerscreen3{
    z-index: 4;
    position: fixed;
    top: 0;
    left: 15%;
    top: 80%;
    width: 200%;
    height: 100%;
    border: #ffffff 2px solid;
    opacity: 0%;
    display: active;
}

.video-container {
    z-index: 1;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    padding-right: 25%;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.chat-container {
    z-index: 5;
    width: 25%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: fixed; 
    top: 0; 
    right: 0; 
    height: 100%; 
}

.chat-container iframe {
    z-index: 6;
    width: 100%;
    height: 100%; 
    border-radius: 0px;
}

.donate {
    z-index: 1;
    text-decoration: none;
    border-style: solid;
    background-color: #000000d3;
    border-radius: 50%;
    font-size: 25px;
    color: #0fb917;
    font-family: 'Russo One', sans-serif;
    position: absolute;
    bottom: -1%;
    left: 0%;
    z-index: 9999;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.4;
    opacity: 100%;
    
    animation: spinSlowly 30s linear infinite; /* spin time */
}

@keyframes spinSlowly {
    0% {
        transform: rotate(0deg); /* start */
    }
    100% {
        transform: rotate(360deg); /* stop */
    }
}

.donate:hover {
    scale: 1.5;
    color: #02cc0d;
    text-shadow: #0fb917 0px 0px 10px;
    background-color: #000000;
    animation: spinSlowly 0.8s linear infinite; /* spin time */
}

.watermark {
    text-decoration: none;
    border-radius: 50%;
    font-size: 23px;
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
    position: absolute;
    bottom: 8%;
    left: 50%;
    z-index: 9999;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    scale: 1.2;
    opacity: 10%;
}

.watermark:hover {
    color: #09ff007a;
}

.link-container {
    z-index: 10;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    background-color: #0000004e;
    color: white;
    padding: 10px 10px;
    margin-bottom: -15px;
    border-radius: 8px;
}

  .link-container a {
    text-decoration: none;
    margin: 0 10px;
}

.link-container:hover {
background-color: #000000af;
}

.link-container a.donate2 {
    color: #0fb917;
}

.link-container a.donate2:hover {
    scale: 2;
}

.link-container a.discord {
    color: #7289da;
}

.link-container a.youtube {
    color: #ff4747;
}

.link-container a.view {
    color: #ff51ae;
}

.link-container a.ejtyp {
    color: #b7b7b7;
}

.link-container a.info {
    color: #dbd762;
}

.designed {
    z-index: 9;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    background: #00000000;
    color: white;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.designed a {
    z-index: 9;
    text-decoration: none;
}

.designed a.dev {
    z-index: 9;
    color: #ffffff;
    opacity: 20%;
}

.banner {
    scale: 0.5;
    z-index: 4;
    position: absolute;
    transform: translateX(-50%);
    bottom: -32%;
    left: 0%;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-decoration: none;
}
